<!doctype html>
<html ng-app="LunchCheck" lang="en">
  <head>
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>

<body>
   <div ng-controller="LunchCheckController" class="container">

     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="items"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check();">Check If Too Much</button>

         </div>
         <div class="form-group message">
           <!-- Your message can go here. -->
             {{message}}
         </div>
   </div>

</body>
</html>

<!-- 4. HTML/CSS for the assignment
  * Option 1: Copy the **contents** of the folder `assignment1-starter-code` into the newly created folder from the previous step. If you cloned this repository, the assignment 1 folder is located in `root_dir_of_your_local_repo/assignments/assignment1/assignment1-starter-code`
  * Option 2: Create the HTML/CSS yourself. Make sure to name the HTML file `index.html`. The only requirement is that your HTML have a textbox, a button, and a region where you will output the message. The rest is up to you.
5. Import AngularJS into your project and place a `<script>` tag right before the `</body>` tag.
6. Declare `ng-app` either on the `html` or the `body` element. Name your app `LunchCheck`.
7. Create `app.js` in your project and declare the an Angular module to match your `ng-app` declaration.
8. Go back to `index.html` and declare a controller for some portion of your page that contains the textbox, the button, and the message placeholder.

9. Annotate the textbox, the button, and the placeholder such that you can hook in behavior to those elements from your controller.

10. Go back to `app.js`. Declare and define a `LunchCheckController`. Properly inject `$scope` into the controller using the `$inject` property (shown how in video lecture)
to make sure to protect your code from minification.

11. Create and implement properties and method(s) in order to implement the functionality outlined in General Idea section above.
  * Make sure that none of your variables/objects/functions "leak to the global scope". (Hint: IIFE)
12. After you are done and satisfied with your solution, don't forget to add/commit/push your code to your repository.
-->